## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.db
*.db-shm
*.db-wal

## Rider
.idea/

## VS Code
.vscode/

## Build outputs
publish/
artifacts/

## NuGet
*.nupkg
.nuget/

## OS
.DS_Store
Thumbs.db
